*.backup
test*
*~
*.pyc
*.pyr
*.shr
*.gz
www/motion/*.jpg
www/motion/*.mp4
current_ip.txt
svvpa-81b7a04fc4c2.json
google-drive-credentials.json
*.swp
CONSTANTS.php
CONSTANTS.sh
gspread.json
rclone.conf
svvpa.log
svvpa.logrotate
google-spreadsheet-credentials.json
