<?php

#define user/pass MYSQL. Debe tener permisos SELECT
define("MYSQL_USER","web");
define("MYSQL_PASS", "XXXX");
define('MYSQL_DB', "svvpa");
define('MYSQL_SERVER','localhost');

define('SVVPA_DIR',	'/var/www/svvpa/');
define('BIN_DIR',		SVVPA_DIR.'bin/');
define('CONFIG_DIR',SVVPA_DIR.'config/');
define('APACHE_DIR',SVVPA_DIR.'www/');
define('MOTION_DIR',APACHE_DIR.'motion/');

define('MOTION_IMAGE_EXT','jpg');
define('MOTION_VIDEO_EXT','mp4');
define('MOTION_TEMP_DIR','/tmp/motion');
define('MOTION_VIDEO_EXT_RAW','avi');

define('RCLONE_BIN','/home/pi/software/rclone-v1.27-linux-arm/rclone');
define('RCLONE_CONFIG',CONFIG_DIR.'rclone.conf');

?>
