# m h  dom mon dow   command
43 6,13 * * * sleep 15; service SVVPA-service update_ip
*/30 * * * * sleep 20; service SVVPA-service update_vnstats
*/10 * * * * sleep 25; service SVVPA-service update_sensors
*/3  * * * * sleep 35; service SVVPA-service check_cmd_email

