# m h  dom mon dow   command
43 6,13 * * * sleep 15;/var/www/svvpa/bin/cron_update_ip.sh
*/30 * * * * sleep 20; /var/www/svvpa/bin/cron_updateVnstats.sh
*/10 * * * * sleep 25; /var/www/svvpa/bin/cron_updateSensors.sh
*/3  * * * * sleep 35; /var/www/svvpa/bin/cron_processCmdEmail.sh

